<%= simple_form_for([@loja, @loja.reviews.build]) do |f| %>

	<div id="rating-form">
		<label>Avaliação:<label>
	</div>

	<%= f.input :comment %>
	<%= f.button :submit %>
<% end %>

<script>

$('#rating-form').raty({
	path: '/assets/',
	scoreName: 'review[rating]'
});
</script>