<div class="review-rating" data-score="<%= review.rating %>"></div>
<p><%= review.comment %></p>

<% if user_signed_in? %>

	<% if review.user_id == current_user.id %>

<%= link_to  "Editar", edit_loja_review_path(review.loja, review) %>
<%= link_to  "Delete", loja_review_path(review.loja, review), :method => :delete, data: { confirm: "Tem certeza?"}%>
	<% end %>

<% end %>
