<h1>Editando Reclamação</h1>

<%= simple_form_for([@loja, @review]) do |f|%>

	<div id="rating-form">
		<label>Avaliação:<label>
	</div>
	
	<%= f.input :comment %>
	<%= f.button :submit %>	

<% end %>


<script>

$('#rating-form').raty({
	path: '/assets/',
	scoreName: 'review[rating]'
});
</script>